{% extends 'layout.html' %}

{% block title %}
    <title>ajouter un monument</title>
{% endblock %}

{% block body %}
  <h2>ajout d'un monument</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/monuments/add" >
    <fieldset>
        <legend> Créer un monument</legend>

        <label for="nomMonument">nom</label><br>
        <input id="nom" type="text" name="nom" size="18" value="" placeholder="Saisir le nom"><br>

        <select name="departement_id" required>
        <option value="">Sélectionner un département</option>
        {% for type in departements  %}
            <option value="{{ type.id }}"> {{ type.nomDepartement }} </option>
        {% endfor %}
        </select>
        <br><br>
        <label for="prix">Prix</label><br>
        <input id="prix" type="number" name="prix" value="" placeholder="Saisir le prix"><br>

        <label for="dateCreation">date de Création </label><br>
        <input id="dateCreation" type="date" name="dateCreation" size="18" value="" placeholder="Saisir la date de création"><br>

        <label for="noteMichelin">note Michelin</label><br>
        <input id="noteMichelin" type="number" name="noteMichelin" value="" placeholder="Saisir la note Michelin"><br>

        <label for="description">description </label><br>
        <input id="description" type="text" name="description" size="18" value="" placeholder="Saisir la description"><br>

        <input type="submit" value="Creer" name="Valider" >

    </fieldset>
  </form>
{% endblock %}