{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter une révision</title>
{% endblock %}

{% block body %}
  <h2>Ajout d'une révision</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/revision/add" >
    <fieldset>
        <legend> Créer une révision</legend>
        <label for="observation">Révision</label>
        <br>
        <input required="required" id="observation" type="text" name="observation" size="18" value="" placeholder="Saisir l'observation">
        <br>
        <br>
        <input type="submit" value="Creer" name="Valider" >
    </fieldset>
  </form>
{% endblock %}