{% extends 'layout.html' %}

{% block title %}
    <title>ajouter un département</title>
{% endblock %}

{% block body %}
  <h2>ajout d'un département</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/departements/add" >
    <fieldset>
        <legend> Créer un département</legend>
        <label for="libelle">libelle</label><br>
        <input id="nomDepartement" type="text" name="libelle" size="18" value="" placeholder="Saisir le nom du département"><br>
        <input type="submit" value="Creer" name="Valider" >
    </fieldset>
  </form>
{% endblock %}