{% extends 'layout.html' %}

{% block title %}
    <title>modifier une révision</title>
{% endblock %}

{% block body %}
  <h2>modifier une révision</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/revision/edit">
    <fieldset>
        <input type="hidden" name="id-Revision" value="{{ revision.idRevision }}">
        <legend> Modifier une révision</legend>
        <label for="observation">Révision</label>
        <br>
        <input required="required" id="observation" type="text" name="observation" size="18" value="{{ revision.observation }}">
        <br>
        <input type="submit" value="Editer" name="Editer" >
    </fieldset>
  </form>
{% endblock %}