{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les révisions</title>
{% endblock %}

{% block body %}
 <div>
    <h3>Révision</h3>
        <a href="/revision/add">Ajouter une révision</a>
 </div>
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Id révision</th><th>Observation</th><th>Option</th>
        </tr>
    </thead>
    <tbody>
    {% if revision | length >= 1 %}
        {% for ligne in revision %}
           <tr>
               <td>{{ ligne.idRevision }}</td>
               <td>{{ ligne.observation }}</td>
               <td>
                   <a class="edit" href="/revision/edit?id={{ ligne.idRevision }} ">Éditer</a>&nbsp;
                   <a class="remove" href="/revision/delete?id={{ ligne.idRevision }}" >Supprimer</a>
               </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      Pas de révision
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}