{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les consommations</title>
{% endblock %}

{% block body %}
<h3>Consommations</h3>
<a href="/consommation/add">ajouter une consommation</a>
<br><br>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>id de la consommation</th><th>Consommation</th><th>Distance</th><th>Année</th><th>id du bus</th><th>option</th>
        </tr>
    </thead>
    <tbody>
    {% if consommation | length >= 1 %}
        {% for ligne in consommation %}
           <tr>
              <td>{{ ligne.idConsommation }}</td>
              <td>{{ ligne.nbconsommation }}</td>
              <td>{{ ligne.distance }}</td>
              <td>{{ ligne.annee }}</td>
              <td>{{ ligne.idBus }}</td>
              <td>
                  <a class="edit" href="/consommation/edit?id={{ ligne.idConsommation }}">editer</a>&nbsp;
                  <a class="remove" href="/consommation/delete?id={{ ligne.idConsommation }}" >supprimer</a>
              </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      pas de consommation
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}