{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les révisions reçues</title>
{% endblock %}

{% block body %}
<h3>Révisions reçues</h3>
<a href="/recoit/add">Ajouter une révison reçue</a>
<br><br>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Id reçoit</th><th>Date de la révision reçue</th><th>Id de la révision</th><th>Id du réservoir</th><th>Option</th>
        </tr>
    </thead>
    <tbody>
    {% if recoit | length >= 1 %}
        {% for ligne in recoit %}
           <tr>
                  <td>{{ ligne.idRecoit }}</td>
                  <td>{{ ligne.dateRevisionReservoir }}</td>
                  <td>{{ ligne.idRevision }}</td>
                  <td>{{ ligne.idReservoir }}</td>
                  <td>
                      <a class="edit" href="/recoit/edit?id={{ ligne.idRecoit }}">Éditer</a>&nbsp;
                      <a class="remove" href="/recoit/delete?id={{ ligne.idRecoit }}" >Supprimer</a>
                  </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      Pas de révision reçue dernièrement
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}