{% extends 'layout.html' %}

{% block title %}
    <title>ajouter un modèle</title>
{% endblock %}

{% block body %}
  <h2>ajout d'un modèle</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}

  <form method="post" action="/modele/add" >
    <fieldset>
        <legend> Créer un modèle</legend>

        <label for="pression">Pression</label>
        <br>
        <input required="required" id="pression" type="number" name="pression" size="18" value="" placeholder="Saisir la pression">
        <br>
        <label for="capacite">Capacité</label>
        <br>
        <input required="required" id="capacite" type="number" name="capacite" size="18" value="" placeholder="Saisir la capacité">
        <br>
        <input type="submit" value="Creer" name="Valider" >
    </fieldset>
  </form>
{% endblock %}