{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les modèles</title>
{% endblock %}

{% block body %}
<h3>Modèles</h3>
<a href="/modele/add">Ajouter un modèle</a>
<br><br>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Id du modèle</th><th>Pression</th><th>Capacité</th><th>Option</th>
        </tr>
    </thead>
    <tbody>
    {% if modele | length >= 1 %}
        {% for ligne in modele %}
           <tr>
              <td>{{ ligne.idModele }}</td>
              <td>{{ ligne.pression }}</td>
              <td>{{ ligne.capacite }}</td>
              <td>
                  <a class="edit" href="/modele/edit?id={{ ligne.idModele }}">Éditer</a>&nbsp;
                  <a class="remove" href="/modele/delete?id={{ ligne.idModele }}" >Supprimer</a>
              </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      Pas de modèle
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}