{% extends 'layout.html' %}

{% block title %}
    <title>modifier un département</title>
{% endblock %}

{% block body %}
  <h2>modifier un département</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/departements/edit">
    <fieldset>
        <legend> Modifier un département</legend>
        <input type="hidden" name="id" size="18" value="{{ departements.id  }}" id="id"><br>
        <label for="nomDepartement">Département</label><br>
        <input type="text" name="nomDepartement" size="18" value="{{ departements.nomDepartement  }}" id="nomDepartement"><br>
        <input type="submit" value="Modifier" name="Modifier" >
    </fieldset>
  </form>
{% endblock %}