{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter un accident</title>
{% endblock %}

{% block body %}
  <h2>Ajout d'un accident</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}

  <form method="post" action="/accident/add" >
    <fieldset>
        <legend> Créer un accident</legend>

        <label for="date-Accident">Date de l'accident</label>
        <br>
        <input required="required" id="date-Accident" type="date" name="date-Accident" size="18" value="" placeholder="Saisir la date de l'accident">
        <br>
        <br>
        <label for="id-Type">Type d'incident</label>
        <br>
        <select id="id-Type" name="id-Type" required>
            <option value="">Sélectionner le type d'incident</option>
            {% for type in typeIncident %}
                <option value="{{ type.idType }}"> {{ type.idType }} </option>
            {% endfor %}
        </select>
        <br>
        <br>
        <label for="id-Bus">Bus</label>
        <br>
        <select id="id-Bus" name="id-Bus" required>
            <option value="">Sélectionner le bus</option>
            {% for type in bus %}
                <option value="{{ type.idBus }}"> {{ type.idBus }} </option>
            {% endfor %}
        </select>
        <br>
        <br>
        <input type="submit" value="Creer" name="Valider" >

    </fieldset>
  </form>
{% endblock %}