{% extends 'layout.html' %}

{% block title %}
    <title>Modifier un accident</title>
{% endblock %}

{% block body %}
  <h2>Modifier un accident</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}

  <form method="post" action="/accident/edit">
    <fieldset>
        <legend> Modifier un accident</legend>
        <input type="hidden" name="id-Accident" value="{{ accident.idAccident }}">
        <label for="date-Accident">Date de l'accident</label>
        <br>
        <input id="date-Accident" type="date" name="date-Accident" size="18" value="{{ accident.dateAccident }}">
        <br>
        <br>
        <label for="id-Type">Type d'incident</label>
        <br>
        <select id="id-Type" name="id-Type" required>
            <option value="{{ accident.idType }}">{{ accident.idType }}</option>
            {% for type in typeIncident %}
                <option value="{{ type.idType }}"> {{ type.idType }} </option>
            {% endfor %}
        </select>
        <br>
        <br>
        <label for="id-Bus">Bus</label>
        <br>
        <select id="id-Bus" name="id-Bus" required>
            <option value="{{ fait.idBus }}">{{ fait.idBus }}</option>
            {% for type in bus %}
                <option value="{{ type.idBus }}"> {{ type.idBus }} </option>
            {% endfor %}
        </select>
        <br>
        <br>
        <input type="submit" value="Editer" name="Editer" >
    </fieldset>
  </form>
{% endblock %}