{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les accidents</title>
{% endblock %}

{% block body %}
<h3>Accidents</h3>
<a href="/fait/add">Ajouter un accident</a>
<br><br>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Id de l'accident</th><th>Date de l'accident</th><th>Id du type d'incident</th><th>Id du bus</th><th>Option</th>
        </tr>
    </thead>
    <tbody>
    {% if accident | length >= 1 %}
        {% for ligne in accident %}
           <tr>
              <td>{{ ligne.idAccident }}</td>
              <td>{{ ligne.dateAccident }}</td>
              <td>{{ ligne.idType }}</td>
              <td>{{ ligne.idBus }}</td>
              <td>
                  <a class="edit" href="/accident/edit?id={{ ligne.idAccident }}">Éditer</a>&nbsp;
                  <a class="remove" href="/accident/delete?id={{ ligne.idAccident }}" >Supprimer</a>
              </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      Pas d'accident
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}