{% extends 'layout.html' %}

{% block title %}
    <title>modifier une révision faite par un bus</title>
{% endblock %}

{% block body %}
  <h2>modifier une révision faite par un bus</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}

  <form method="post" action="/fait/edit">
    <fieldset>
        <legend> Modifier une révision faite</legend>
        <input type="hidden" name="id-Fait" value="{{ fait.idFait }}">
        <label for="date-Revision">Date de la révision faite</label>
        <br>
        <input id="date-Revision" type="date" name="date-Revision" size="18" value="{{ fait.dateRevisionBus }}">
        <br>
        <br>
        <label for="id-Revision">Révision faite</label>
        <br>
        <select id="id-Revision" name="id-Revision" required>
            <option value="{{ fait.idRevision }}">{{ fait.idRevision }}</option>
            {% for type in revision %}
                <option value="{{ type.idRevision }}"> {{ type.idRevision }} </option>
            {% endfor %}
        </select>
        <br>
        <br>
        <label for="id-Bus">Bus</label>
        <br>
        <select id="id-Bus" name="id-Bus" required>
            <option value="{{ fait.idBus }}">{{ fait.idBus }}</option>
            {% for type in bus %}
                <option value="{{ type.idBus }}"> {{ type.idBus }} </option>
            {% endfor %}
        </select>
        <br>
        <br>
        <input type="submit" value="Editer" name="Editer" >
    </fieldset>
  </form>
{% endblock %}