{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les révisions faites</title>
{% endblock %}

{% block body %}
<h3>Révisions faites</h3>
<a href="/fait/add">Ajouter une révision faite</a>
<br><br>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Id fait</th><th>Date de la révision faite</th><th>Id de la révision</th><th>Id du bus</th><th>Option</th>
        </tr>
    </thead>
    <tbody>
    {% if fait | length >= 1 %}
        {% for ligne in fait %}
           <tr>
              <td>{{ ligne.idFait }}</td>
              <td>{{ ligne.dateRevisionBus }}</td>
              <td>{{ ligne.idRevision }}</td>
              <td>{{ ligne.idBus }}</td>
              <td>
                  <a class="edit" href="/fait/edit?id={{ ligne.idFait }}">editer</a>&nbsp;
                  <a class="remove" href="/fait/delete?id={{ ligne.idFait }}" >supprimer</a>
              </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      Pas de révision faite dernièrement
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}