<nav class="menu">
    <div class="menuContent">
        <a href="/accident/show"> Departements </a>
    </div>

    <div class="menuContent">
        <a href="/anneeConsommation/show"> Monuments </a>
    </div>

    <div class="menuContent">
        <a href="/bus/show"> Toggle </a>
    </div>

    <div class="menuContent">
        <a href="/consommation/show"> Departements </a>
    </div>

    <div class="menuContent">
        <a href="/fait/show"> Monuments </a>
    </div>

    <div class="menuContent">
        <a href="/modele/show"> Toggle </a>
    </div>

    <div class="menuContent">
        <a href="/recoit/show"> Toggle </a>
    </div>

    <div class="menuContent">
        <a href="/reservoir/show"> Departements </a>
    </div>

    <div class="menuContent">
        <a href="/revision/show"> Monuments </a>
    </div>

    <div class="menuContent">
        <a href="/typeIncident/show"> Toggle </a>
    </div>
</nav>