<nav class="menu">
    <div class="menuContent">
        <a href="/accident/show"> Accidents </a>
    </div>

    <div class="menuContent">
        <a href="/bus/show"> Bus </a>
    </div>

    <div class="menuContent">
        <a href="/consommation/show"> Consommation </a>
    </div>

    <div class="menuContent">
        <a href="/fait/show"> Révision de bus faite </a>
    </div>

    <div class="menuContent">
        <a href="/modele/show"> Modele </a>
    </div>

    <div class="menuContent">
        <a href="/recoit/show"> Révision de réservoir reçu </a>
    </div>

    <div class="menuContent">
        <a href="/reservoir/show"> Reservoir </a>
    </div>

    <div class="menuContent">
        <a href="/revision/show"> Revision </a>
    </div>
    <div class="menuContent">
        <a href="/typeIncident/show"> Type d'Incident </a>
    </div>
</nav>