<nav class="menu">
    <div class="menuContent">
        <a href="/accident/show"> Accident </a>
    </div>

    <div class="menuContent">
        <a href="/bus/show"> Bus </a>
    </div>

    <div class="menuContent">
        <a href="/consommation/show"> Consommation </a>
    </div>

    <div class="menuContent">
        <a href="/fait/show"> Révision faite à un bus </a>
    </div>

    <div class="menuContent">
        <a href="/modele/show"> Modèle </a>
    </div>

    <div class="menuContent">
        <a href="/recoit/show"> Révision reçue par un réservoir </a>
    </div>

    <div class="menuContent">
        <a href="/reservoir/show"> Réservoir </a>
    </div>

    <div class="menuContent">
        <a href="/revision/show"> Révision </a>
    </div>
    <div class="menuContent">
        <a href="/typeIncident/show"> Type d'incident </a>
    </div>
</nav>