<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block title %}
            <title>toggle</title>
        {% endblock %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" >
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ url_for('static', filename='mes_styles.css') }}" >
        {% endblock %}
    </head>
    <body>
        {% include('_nav.html') %}

        {% block body %}
            <h2>Départements</h2>
            <div class="toggleBtn" >
                {% for ligne in departements %}
                    <div>
                        <input type="checkbox" id={{ ligne.nomDepartement }} name="scales" >
                        <label for={{ ligne.nomDepartement }}>{{ ligne.nomDepartement }}</label>
                    </div>
                {% endfor %}
            </div>

            <div class="showCard">
                 {% for ligne in monuments %}
                     <div class="card">
                          <div class="nameCard">
                              {{ ligne.nomMonument }}
                          </div>
                        <div class="cardBody">
                            <p>Prix : {{ ligne.prix }} </p>
                            <p>Date création : {{ ligne.dateCreation }}</p>
                            <p>note Michelin : {{ ligne.noteMichelin }}</p>
                            <p>description : {{ ligne.description }}</p>
                            <p>departement : {{ ligne.departement_id }}</p>
                        </div>
                    </div>
                 {% endfor %}
            </div>
        {% endblock %}
    </body>
</html>