{% extends 'layout.html' %}

{% block title %}
    <title>ajouter un réservoir</title>
{% endblock %}

{% block body %}
  <h2>ajout d'un réservoir</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}

  <form method="post" action="/reservoir/add" >
    <fieldset>
        <legend> Créer un réservoir</legend>
        <label for="id-Modele">Modèle</label>
        <br>
        <select id="id-Modele" name="id-Modele" required>
            <option value="">Sélectionner le modèle</option>
            {% for type in modele %}
                <option value="{{ type.idModele }}"> {{ type.idModele }} </option>
            {% endfor %}
        </select>
        <br>
        <br>
        <label for="id-Bus">Bus</label>
        <br>
        <select id="id-Bus" name="id-Bus" required>
            <option value="">Sélectionner le bus</option>
            {% for type in bus %}
                <option value="{{ type.idBus }}"> {{ type.idBus }} </option>
            {% endfor %}
        </select>
        <br>
        <br>
        <input type="submit" value="Creer" name="Valider" >

    </fieldset>
  </form>
{% endblock %}