{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les réservoirs</title>
{% endblock %}

{% block body %}

 <div>

 <h3>Réservoirs</h3>
<a href="/reservoir/add">ajouter un réservoir</a>

 </div>

<br>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>id du réservoir</th><th>id du modèle</th><th>id du bus</th><th>option</th>
        </tr>
    </thead>
    <tbody>
    {% if reservoir | length >= 1 %}
        {% for ligne in reservoir %}
           <tr>
               <td>{{ ligne.idReservoir }}</td>
               <td>{{ ligne.idModele }}</td>
               <td>{{ ligne.idBus }}</td>
               <td>
                   <a class="edit" href="/reservoir/edit?id={{ ligne.idReservoir }} ">editer</a>&nbsp;
                   <a class="remove" href="/reservoir/delete?id={{ ligne.idReservoir }}" >supprimer</a>
               </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      pas de réservoir
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}