{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter un bus</title>
{% endblock %}

{% block body %}
  <h2>Ajout d'un bus</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/bus/add" >
    <fieldset>
        <legend> Créer un bus</legend>
        <label for="date-achat">Bus</label>
        <br>
        <input required="required" id="date-achat" type="date" name="date-achat" size="18" value="" placeholder="Saisir la date d'achat">
        <br>
        <br>
        <input type="submit" value="Creer" name="Valider" >
    </fieldset>
  </form>
{% endblock %}