{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les bus</title>
{% endblock %}

{% block body %}
 <div>
    <h3>Bus</h3>
        <a href="/bus/add">Ajouter un bus</a>
 </div>
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Id du bus</th><th>Date d'achat du bus</th><th>Option</th>
        </tr>
    </thead>
    <tbody>
    {% if bus | length >= 1 %}
        {% for ligne in bus %}
           <tr>
               <td>{{ ligne.idBus }}</td>
               <td>{{ ligne.dateAchat }}</td>
               <td>
                   <a class="edit" href="/bus/edit?id={{ ligne.idBus }} ">Éditer</a>&nbsp;
                   <a class="remove" href="/bus/delete?id={{ ligne.idBus }}" >Supprimer</a>
                    <a class="state" href="/bus/etat?id={{ ligne.idBus }}" >État</a>
               </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      Pas de bus
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}