{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les types d'incidents</title>
{% endblock %}

{% block body %}
 <div>
    <h3>Types d'incidents</h3>
        <a href="/typeIncident/add">Ajouter un type d'incident</a>
 </div>
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Id du type d'incident</th><th>Libellé du type</th><th>Option</th>
        </tr>
    </thead>
    <tbody>
    {% if typeIncident | length >= 1 %}
        {% for ligne in typeIncident %}
           <tr>
               <td>{{ ligne.idType }}</td>
               <td>{{ ligne.libelleType }}</td>
               <td>
                   <a class="edit" href="/typeIncident/edit?id={{ ligne.idType }} ">Éditer</a>&nbsp;
                   <a class="remove" href="/typeIncident/delete?id={{ ligne.idType }}" >Supprimer</a>
               </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      Pas de type d'incident
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}